body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    background-size: cover;
    height: 90vh;
    aspect-ratio: 360 / 640;
    margin: 0 auto;
}

/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    #board {
      height: 100vh;
    }
  }
  
  /* Media query for screens with a maximum width of 480px */
  @media screen and (max-width: 480px) {
    #board {
      height: 100vh;
    }
  }
