body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.game-container {
  position: relative;
  display: inline-block;
  max-height: 100vh; /* Set maximum height for responsiveness */
  overflow: hidden; /* Hide any overflow for smaller screens */
  z-index: 999999;
}

#board {
  /* background-color: skyblue; */
  background-image: url("./flappybirdbg.png");
  background-size: cover;
  height: 90vh; /* Set height to 90vh */
  width: calc(90vh * (360 / 640)); /* Calculate width based on aspect ratio */
  margin: 0 auto;
  z-index: 99999999;
}

#fireGif {
  position: absolute;
  top: -40px;
  left: -5px;
  z-index: 1;
  height: 90px;
  width: auto;
}

.hidden {
  display: none;
}

#soundButton {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* Updated CSS for Win GIF */
#winGif {
  max-width: 100%;
  max-height: 100%;
  display: none;
  position: absolute;
  top: -100%; /* Move the GIF below the board */
  left: 50%;
  transform: translateX(-50%);
  height: 90vh;
  width: calc(90vh * (360 / 640));
}


/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  #board {
    height: 80vh;
    width: calc(80vh * (360 / 640)); /* Adjust width based on aspect ratio */
    z-index: 99999;
  }
  
  #winGif {
    max-width: 100%;
    max-height: 100%;
    display: none;
    position: absolute;
    top: -100%; /* Move the GIF below the board */
    left: 50%;
    transform: translateX(-50%);
    height: 80vh; /* Set height to 80vh */
    width: calc(80vh * (360 / 640)); /* Calculate width based on aspect ratio */
    pointer-events: none;
    z-index: 1;
  }
}

/* Media query for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {
  #board {
    height: 80vh;
    width: calc(80vh * (360 / 640)); /* Adjust width based on aspect ratio */
    z-index: 99999;
  }
  
  #winGif {
    max-width: 100%;
    max-height: 100%;
    display: none;
    position: absolute;
    top: -100%; /* Move the GIF below the board */
    left: 50%;
    transform: translateX(-50%);
    height: 80vh; /* Set height to 80vh */
    width: calc(80vh * (360 / 640)); /* Calculate width based on aspect ratio */
    pointer-events: none;
    z-index: 1;
  }
}
